dist/
node_modules/
.env
.env.local
.env.*.local
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]


/generated/prisma

/generated/prisma

# dumps locales de datos de desarrollo
prisma/_backup/
