<h3>{{ type }} Favorites</h3>

<div class="slots">
  @for (slot of getSlots(); let i = $index; track i) {
    <div
      class="slot"
      [style.border]="selectedSlot() === (i + 1) ? '2px solid purple' : '1px solid gray'"
    >

      @if (slot) {
        <img [src]="slot.imageUrl" width="80" />
        <p>#{{ slot.order }}</p>
        <button (click)="removeFavorite(slot.id)">X</button>
      } @else {
        <button (click)="selectSlot(i + 1)">+</button>
      }

    </div>
  }
</div>

<input
  [value]="searchQuery()"
  (input)="searchQuery.set($any($event.target).value)"
/>

<button (click)="search()">Buscar</button>

@for (item of searchResults(); track $index) {
  <div>
    <img src="{{ item.imageUrl }}" alt="{{ item.title }}">
    <span>{{ item.title }}</span>
    <button (click)="addFavorite(item)">Agregar</button>
  </div>
}