<!-- src/app/features/cards/components/card-editor-favorites/card-editor-favorites.html -->

<h3>{{ type }} Favorites</h3>
<div
  cdkDropList
  [cdkDropListData]="favorites()"
  (cdkDropListDropped)="drop($event)"
  class="favorites-container"
>

  <div
    *ngFor="let fav of favorites(); let i = index"
    cdkDrag
    class="favorite-item"
  >
    <img [src]="fav.imageUrl" width="80" />
    <p>#{{ i }}</p>
    <p>{{ fav.title }}</p>
    <button (click)="removeFavorite(fav.id)">X</button>
  </div>

</div>

<input
  [value]="searchQuery()"
  (input)="searchQuery.set($any($event.target).value)"
/>

<button (click)="search()">Buscar</button>

<div *ngFor="let item of searchResults()">
  <img [src]="item.imageUrl" width="60" />
  <span>{{ item.title }}</span>
  <button (click)="addFavorite(item)">Agregar</button>
</div>